/* pages/home/index.wxss */
.topbar
{
  width: 100%;
  position:sticky;
  top: 0;
  z-index: 10;
  background-color: #5cb2d2;
}
.toptitle
{
  position: absolute;
  bottom: 16px;
  width: 200px;
  left: calc(50% - 100px);
  text-align: center;
  font-size: 14px;
}
.button
{
  margin: 0 10px 0 10px;
  border-radius: 10px;
  border: lightgray solid 1px;
}
.settingbut
{
  box-sizing: border-box;
  opacity: 0.6;
  font-size: 15px !important;
  width: 64px;
  bottom: 130px;
  position: absolute;
  height: 32px;
}
.settingbut image
{
    margin-top: 6px;
    height: 20px;
    width: 20px;
}
.avatar
{
    width: 64px;
    height: 64px;
    position: absolute;
    left: 10px;
    bottom: 45px;
    border-radius: 8px;
}
.nickname
{
  position: absolute;
  left: 90px;
  bottom: 80px;
  font-size: 18px;
  text-shadow: white 1px 0 10px;
}
.menu
{
  width: calc(100% - 20px);
  height: 70px;
  border-radius: 10px;
  left: 10px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  bottom: -35px;
  z-index: 11;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menuitem
{
  opacity: 0.9;
  font-size: 14px;
  width: 60px;
  height: 60px;
  text-align: center;
  position: relative;
  top:10px
  
}
.itsme
{
  position: absolute;
  left: 90px;
  bottom: 60px;
  opacity: 0.6;
  font-size: 13px;
  text-shadow: white 1px 0 10px;
}
.dot
{
  color: white;
  padding: 0 4px 0 4px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 40px;
  position: absolute;
  left: 36px;
  top:-8px;
  background-color: tomato;
}
.setting
{
  position: absolute;
 width: 100%;
 height: 300px;
 box-shadow: 0px 0px 10px gray;
 border-radius: 10px; 
 background-color: white;
}
.show
{
  bottom: -10px;
  transition-duration: 200ms;
}
.hide
{
  bottom: -310px;
  transition-duration: 200ms;
}
.pageshow
{
  scale: 1;
  border-radius: 0px;
  box-shadow: 0px 0px 0px gray;
  transition-duration: 200ms;
  
}
.pagehide
{
  scale: 0.9;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  transition-duration: 200ms;
}
.page
{
  width: 100%;
  height: 100%;overflow: hidden;
}
page
{
  overflow-y: hidden;
}
.avatar-wrapper {
  padding: 0;
  width: 60px !important;
  height: 60px !important;
  border-radius: 8px;
  margin: 10px;
}
.changeavatar {
  width: 60px;
  height: 60px;
}
 
.container {
  display: flex;
}
.row{
  background-color: white;
  margin-top: 10px;
  border: 1px lightgray solid;
  border-radius: 40px;
   display: flex;
   align-items: center;
   height: 36px;
   width: 240px;
   position: relative;
   left: calc(50% - 120px);
   text-align: center;
}
.text1{
  font-size: 14px;
    margin: 10px;
    text-align: center;
    color: gray;
}
.weui-input{
    flex: 6;
}
.signup
{
  position: relative;
  top:80px;
}
.but
{
  opacity: 0.6;
  position: absolute;
  margin-top: 10px;
  width: 80px !important;
  height: 36px !important;
  border-radius: 40px;
  background-color: #5cb2d2 !important;
  font-size: 16px;
  line-height: 20px;
}
.bg
{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
}
.money
{
  background: linear-gradient(30deg,#5cb2d2, pink);
  position: absolute;
  width: calc(100% - 20px);
  height: 180px;
  box-shadow: 0px 0px 6px gray;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
}
.balan
{
  font-size: 30px;
  color: white;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.balatitle
{
  color: white;
  position: absolute;
  left: 20px;
  top:20px

}
.charge
{
  position: absolute;
  color: white;
  bottom: 24px;
}