.page
{
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
.topbar
{
  width: 100%;
  position:sticky;
  top: 0;
  z-index: 10;
  background-color: #5cb2d2;
}

.pageshow
{
  scale: 1;
  border-radius: 0px;
  box-shadow: 0px 0px 0px gray;
  transition-duration: 200ms;
  
}
.pagehide
{
  scale: 0.9;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  transition-duration: 200ms;
}
page
{
  overflow-y: hidden;
}
.title
{
  color: white;
  position: absolute;
  left: 20px;
  bottom: 12px;
  font-size: 20px;
}
.list
{
  width: 100%;
}
.item
{
  width: calc(100% - 20px);
  height: 100px;
  background-color: white;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 6px gray;
  position: relative;
}
.item image{
  margin: 5px;
  border-radius: 4px;
  position: absolute;
  width: 90px;
  height: 90px;
}
.goodstitle
{
  top:5px;
  left: 100px;
  position: absolute;
}
.price
{
  text-decoration:line-through;
  top:70px;
  left: 104px;
  color:tomato;
  position: absolute;
}
.newprice
{
  top:46px;
  font-size: 24px;
  color:tomato;
  left: 100px;
  position: absolute;
}
.radio
{
  text-decoration:line-through;
  top:40px;
  right: 16px;
  position: absolute;
}
.checkout
{
  overflow: hidden;
  box-shadow: 0px 0px 2px gray;
  position: absolute;
  border-radius: 30px;
  bottom: 10px;
  height: 50px;
  left: 10px;
  width: calc(100% - 20px);
}
.checkoutbut
{
  height: 100%;
  width: 80px;
  background-color: tomato;
  position: absolute;
  right: 0;
  color: white;
  line-height: 50px;
  text-align: center;
}
.checkoutnewprice
{
  color: tomato;
  top:10px;
  position: absolute;
  font-size: 24px;
  padding-left: 20px;
}
.off
{
  font-size: 16px;
}
