<view class="page {{!settinghide?'pagehide':'pageshow'}}">
  <view style="height: {{topheight}}px" class="topbar">
    <view class="title">购物车</view>
  </view>
  <scroll-view scroll-y style="height: calc(100% - {{topheight}}px);" class="list">
    <view bind:tap="check" data-index="{{index}}"  class="item" wx:for="{{cartlist}}">
      <radio checked="{{item.check}}" color="tomato" class="radio"></radio>
      <view class="goodstitle">{{item.shoptitle}}</view>
      <view class="price">￥{{item.price}}</view>
      <view class="newprice">￥{{item.newprice}}</view>
      <image mode="aspectFill" src="cloud://study-4glnqttt963fc25b.7374-study-4glnqttt963fc25b-1322406209/goodsimage/{{item._id}}_goods.png"/>
    </view>
  </scroll-view>
  <view class="checkout">
    <view class="checkoutnewprice">￥{{totalnewprice}}<text class="off">(省￥{{totalprice - totalnewprice}})</text></view>
    <view wx:if="{{!loading}}" bind:tap="checkout" class="checkoutbut">去结算</view>
    <view style="background-color: gray;" wx:else class="checkoutbut">结算中</view>
  </view>
</view>
